@import url("https://fonts.googleapis.com/css?family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

html {
  height: 100%;
  scroll-behavior: smooth;
}
body {
  /* background-color: #e44f25; */
  background-image: url("https://cdn.pixabay.com/photo/2015/05/23/22/16/orange-781119_960_720.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: 12%;
  color: white;
  height: 100%;
  width: 100%;
  margin: 0 0;
  padding: 0 0;
}
* {
  font-family: "Montserrat", sans-serif;
}
.ieee-logo {
  position: absolute;
  top: 0%;
  right: 0%;
}

.main-title {
  font-size: 2.5em;
  margin-left: 30px;
  margin-top: 60px;
  font-family: "Russo One", sans-serif;
}

.title {
  text-align: center;
}

.speakers {
  margin-top: 60px;
  padding: 150px 0em 150px 0em;
  /* border: 3px solid white; */
}

.container-2 {
  margin-top: 20px;
  border: 3px dotted white;
  padding: 300px 0em 300px 0em;
  display: none;
}

.container-3 {
  background-color: #da370a;
  padding: 20px 0 20px 0;
}

.table {
  min-width: 100vw;
  height: 150px;
  background-color: rgb(0, 0, 0);
}

.social {
  position: relative;
  top: 4%;
  right: 0%;
}
.sicon {
  width: 37px;
}
/* ----------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------- */

@font-face {
  font-family: "Shamber";
  src: url("Shamber.ttf");
}

@font-face {
  font-family: "Reoteric";
  src: url("ReotericBold.ttf");
}

#particle-container {
  grid-area: 1 / 1 / 4 / 4;
  z-index: -1;
}

.header {
  height: 100%;
  display: grid;
  grid-template-rows: 10% 10% 80%;
  grid-template-columns: 1fr 5fr 1fr;
}

.navbar {
  margin-bottom: 7%;
  display: none;
}

#home-date + p {
  padding: 0 2em;
  font-size: 80%;
  font-weight: bold;
  text-align: center;
  margin-top: 0%;
  margin-bottom: 0em;
}

#section-title {
  margin: 0;
  text-align: center;
  font-family: "Russo One", sans-serif;
  font-size: 2.5rem;
}

.section {
  transition: 1s;
  padding-top: 1.2em;
  padding-bottom: 2rem;
}

.section:nth-of-type(odd) {
  background-color: #293147;
  color: beige;
}

.section:nth-of-type(even) {
  /* background-color: beige; */
  color: rgba(255, 255, 255, 0.9);
}

#main-title-container {
  grid-area: 1 / 1 / 4 / 4;
  display: flex;
  margin-top: 10%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #293147;
  /* background-color: rgb(250, 146, 9); */
  /* background-image: url("https://cdn.pixabay.com/photo/2015/05/23/22/16/orange-781119_960_720.png"); */
  background-size: cover;
  background-position: 10%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#main-title {
  font-size: 3.5rem;
  text-align: center;
  font-family: "Russo One", sans-serif;
  margin: 0;
}

.overlay {
  background-color: rgba(41, 49, 71, 0.25);
  /* background-color: rgba(0, 0, 0, 0.15); */
}

.logo-container img {
  /* grid-area: 1 / 2 / 2 / 3; */
  margin: auto;
  width: 95%;
  /* margin-top: 0.6em; */
  display: block;
  padding: 0.3em 0em;
}

#ieee-logo {
  grid-area: 2 / 2 / 2 / 3;
  width: 55%;
  display: block;
  margin: auto;
  margin-top: 1em;
}

#read-more {
  /* background-color: #293147; */
  position: absolute;
  bottom: 1.2em;
  color: white;
  padding: 1em;
  margin-top: 10px;
  text-align: center;
  border-radius: 12%;
  text-decoration: none;
}

#button {
  display: inline-block;
  background-color: #677cb6;
  width: 50px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

#button::after {
  content: "^";
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}

#button.show {
  opacity: 1;
  visibility: visible;
}

.content-body,
.content-body + ul {
  width: 84%;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 2.3em; */
  max-width: 1200px;
  color: beige;
  font-size: 1.1rem;
}

.content-body + ul {
  margin-top: 1em;
}

.content-header {
  width: 84%;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  font-size: 1.2rem;
}

.speakers-container {
  margin-top: 2.3em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.speaker {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2.5em;
  margin-left: auto;
  margin-right: auto;
}

.speaker-pic {
  width: 10em;
}

.speaker-h {
  margin: 0;
  margin-top: 0.5em;
  margin-left: 0.7em;
  margin-right: 0.7em;
  text-align: center;
}

.schedule-table {
  margin: auto;
  margin-top: 2.3em;
  color: #293147;
  border-collapse: collapse;
}

.schedule-table tbody {
  box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.2);
}

th {
  font-size: 1.3rem;
  padding-bottom: 0.6em;
  text-align: left;
}

.schedule-table td {
  font-style: italic;
  font-weight: bold;
  font-size: 1rem;
  border: 1px solid #293147;
  padding: 0.6em 0.7em;
}

.schedule-table tbody tr:nth-last-of-type(odd) {
  background-color: #FFE1AF;
}

.schedule-table tbody tr:nth-last-of-type(even) {
  background-color: #FE8C45;
}

.register-button {
  padding: 1em 2em;
  text-decoration: none;
  margin-top: 2.3em;
  display: block;
  margin-left: 23%;
  margin-right: 22%;
  text-align: center;
  font-size: 1.3rem;
  color: white;
  /* font-family: "Courier New", Courier, monospace; */
  font-weight: bold;
  background-color: #293147;
  box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.2);
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2.3em;
}

.contact-details {
  font-weight: bold;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: auto;
  font-size: 1.1rem;
}

.contact-table {
  margin-top: 2em;
  margin-bottom: 2.2em;
}

#big-map {
  display: none;
}

.bottom-bar {
  height: 5%;
  background-color: beige;
}

.section:nth-of-type(even) {
  background-color: rgb(211, 73, 35);
}

.big-logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-container {
  background: white;
  width: 90%;
  margin-bottom: 2em;
  border-radius: 20px;
}

#wie-logo {
  width: 40%;
  padding-bottom: 1em;
}

.card {
  width: 65%;
  height: 80%;
  box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  padding: 1em;
  background-color: white;
  color: black;
}

.speaker h5 {
  font-size: 0.9rem;
}

.timer {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

@media screen and (min-width: 480px) {
  .speakers-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  #speaker-1 {
    grid-area: 1 / 1 / 2 / 3;
  }

  #speaker-2 {
    grid-area: 1 / 3 / 2 / 5;
  }

  #speaker-3 {
    grid-area: 2 / 2 / 3 / 4;
  }

  #speaker-4 {
    grid-area: 2 / 1 / 3 / 2;
  }
  #speaker-5 {
    grid-area: 2 / 3 / 3 / 2;
  }
}

@media screen and (min-width: 570px) {
  #main-title-div {
    display: flex;
    flex-direction: row;
  }

  #main-title {
    margin: 0px 0.2em;
    font-size: 10vw;
  }

  #home-date {
    font-size: 3.7vw;
  }

  #home-date + p {
    font-size: 2.1vw;
  }

  .big-logo-container {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
  }

  .logo-container {
    width: 28%;
    margin: 0;
    display: flex;
  }

  .schedule-table td {
    font-size: 2.8vw;
  }

  .logo-container img {
    justify-content: center;
    align-items: center;
  }

  .head1 {
    animation: typew 1s steps(5);
    overflow: hidden;
    white-space: nowrap;
    /* border-right: 1px solid black; */
  }

  .head2 {
    animation: typei 1.6s steps(3);
    overflow: hidden;
    white-space: nowrap;
    /* border-right: 1px solid black; */
  }

  .head3 {
    animation: typet 2.3s steps(4);
    overflow: hidden;
    white-space: nowrap;
    /* border-right: 1px solid black; */
  }

  @keyframes typew {
    0% {
      width: 1.5ch;
    }
    50% {
      width: 1.5ch;
    }
    100% {
      width: 5.5ch;
    }
  }

  @keyframes typei {
    0% {
      width: 0.55ch;
    }
    75% {
      width: 0.55ch;
    }
    100% {
      width: 1.7ch;
    }
  }

  @keyframes typet {
    0% {
      width: 0.9ch;
    }
    71% {
      width: 0.9ch;
    }
    100% {
      width: 4ch;
    }
  }
}

@media screen and (min-width: 700px) {
  .schedule-table td {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 800px) {
  #main-title {
    font-size: 5rem;
  }

  #home-date {
    font-size: 1.8rem;
  }

  #home-date + p {
    font-size: 1.1rem;
    margin-top: 0;
  }
}

@media screen and (min-width: 910px) {
  .navbar {
    display: block;
  }

  #top-register-button {
    display: none;
  }

  #big-map {
    display: block;
  }

  #small-map {
    display: none;
  }

  .contact-container {
    flex-direction: row;
    justify-content: center;
  }

  .contact-details {
    margin-left: 1.3em;
  }

  .nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 2px solid black;
    border-radius: 15px;
  }

  .nav-links li {
    margin: 0px;
    display: inline-block;
    font-size: 1.5rem;
    min-width: 150px;
    height: 50px;
    border-right: 2px solid black;
  }

  .nav-links li:last-child {
    border: none;
  }

  /* .nav-links a:hover {
    background: #293147;
    color: white;
  } */

  .nav-links a:active {
    background: #293147;
    color: white;
  }

  .nav-links a {
    margin: auto;
    display: block;
    line-height: 50px;
    text-align: center;
    width: inherit;
    text-decoration: none;
    color: #293147;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
}

@media screen and (min-width: 960px) {
  /* #main-title {
    margin: 0px 0.2em;
  }

  #main-title-div {
    display: flex;
    flex-direction: row;
  } */

  #home-date {
    font-size: 1.8rem;
  }

  .speakers-container {
    grid-template-columns: 1fr 1fr 1fr;
  }

  #speaker-1 {
    grid-area: 1 / 1 / 2 / 2;
  }

  #speaker-2 {
    grid-area: 1 / 2 / 2 / 3;
  }

  #speaker-3 {
    grid-area: 1 / 3 / 2 / 4;
  }
}

@media screen and (min-width: 1200px) {
  .contact-details {
    margin-left: 5em;
  }

  .nav-links a:hover {
    background: #293147;
    color: white;
  }

  .section {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  #home-date {
    font-size: 1.8rem;
  }

  .speakers-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1200px) {
  #main-title {
    font-size: 5rem;
  }

  .contact-details {
    margin-left: 5em;
  }

  .nav-links a:hover {
    background: #293147;
    color: white;
  }
}

.speaker-data{
  min-width: 100%;
  min-height:100%;
  max-height: 100%;
  background-color: rgba(0, 0, 0, 0.671);
  position: absolute;
  color: white;
  top: 0;
  display: none;
}

.speaker{
  position: relative;
}

.dtext{
  padding: 2em;
  line-height: 1.5em;
}