@import url('https://fonts.googleapis.com/css?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
body{
    background-color:#e44f25;
    color: white;
}
*{
    font-family: 'Montserrat', sans-serif;
}
.ieee-logo{
    position: absolute;
    top: 0%;
    right: 0%;
}

.main-title{
    font-size: 2.5em;
    margin-left: 30px;
    margin-top: 60px;
    font-family: 'Russo One', sans-serif;
}

.title{
    text-align: center;

}

.speakers{
    margin-top: 60px;
    padding: 150px 0em 150px 0em;
    //border: 3px solid white;
}


.container-2{
    margin-top: 20px;
    //border: 3px dotted white;
    padding: 300px 0em 300px 0em;
    display: none;
}

.container-3{
    background-color: #da370a;
    padding: 20px 0 20px 0;
}

.table{
    min-width: 100vw;
    height: 150px;
    background-color: rgb(0, 0, 0);
}

.social{
    position: relative;
    top: 4%;
    right: 0%;
}
.sicon{
    width: 37px;
}